@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background:#76CB89;
	background-size: cover;
	background-position: center;
}

html {
	height: 100%;
}

.homePageContent {
	text-align: center;
	padding-top: 15%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.homePageContent h1 {
	font-weight: 700;
	font-size: 5em;
}

.homePageContent hr {
	width: 450px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.buttons {
	border-radius: 9px;
	border: none;
	font-family: 'Oswald', sans-serif;
	background: #515151;
	color: #F9F3F4;
	font-size: 100%;
	text-decoration: none;
	position: relative;
	padding: 5px;
	margin: 30px;
	width: 100px;
}

.defaultHidden{display:none;visibility:hidden;}
@font-face{font-family: sanssaFont;src:url(Sansation_Regular.ttf)};
@font-face{font-family: sanssaBold;src:url(Sansation_Bold.ttf);font-weight:bold};
body{font-family:sanssaFont;}
#vtrakButton{font-family:sanssaFont;}
#signUpRibbon{font-family:sanssaFont;}
#loginRibbon{font-family:sanssaFont;}
#homePageContent h1{font-family:sanssaFont;}

.signUpButton {
	border-radius: 9px;
	border: none;
	font-family: 'Oswald', sans-serif;
	background: #515151;
	color: #F9F3F4;
	font-size: 100%;
	text-decoration: none;
	position: relative;
	padding: 5px;
	margin-top: 15px;
	width: 100px;
}

.homePage {
	height: 100%;
	width: 100%;
	margin: auto;
	background:#F5F5F5;
	top: 0;
	background-size: cover;
}

.loginPage {
	height: 100%;
	width: 100%;
	position: center;
	display: table;
	padding-top: 5%;
}

.loginPage .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.loginDiv {
	opacity: 0.8;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	border-radius: 25px;
    background: #F9F3F4;
    padding: 10px;
    width: 250px;
    height: 335px;
}

.loginDiv h1{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 300%;
	text-shadow: 0px 0px 300px #000;
}

.loginDiv h3{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 100%;
	text-shadow: 0px 0px 300px #000;
}

.loginDiv a{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 100%;
	text-shadow: 0px 0px 300px #000;
}

.usernameBox {
	width: 200px;
	height: 25px;
	margin: 10px;
	font-size: 100%;
}

.passwordBox {
	width: 200px;
	height: 25px;
	margin: 10px;
	font-size: 100%;
}

.signUpPage {
	height: 100%;
	width: 100%;
	position: center;
	display: table;
	padding-top: 5%;
}

.signUpPage .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.signUpDiv {
	opacity: 0.8;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	border-radius: 25px;
    background: #F9F3F4;
    padding: 20px;
    width: 250px;
    height: 500px;
}

.signUpDiv h1{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 300%;
	text-shadow: 0px 0px 300px #000;
}

.signUpDiv h3{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 100%;
	text-shadow: 0px 0px 300px #000;
}

.signUpDiv a{
	font-family: 'Raleway', sans-serif;
	color: #515151;
	font-size: 100%;
	text-shadow: 0px 0px 300px #000;
}
body.myDashboard{
  background-color: #76CB89;
}

.panel-default{
  margin-left: 5px;
}

.progress{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  height: 35px;
}

.label-default{
  background-color: #4d4d4d;
  color: white;
  font-family: Cambria;
  margin-top: 50px;
  margin-left: 10px;
}

.panel-heading{
  font-family: Cambria;
  font-weight: bold;
  font-size: 20.5px;
}
.progress .progress-bar{
  background-color: #ef997a;
  position: absolute;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  color: white;
  font-weight: bold;
  right: 0;
  left: 0;
  top: 0;
}

td {
  font-family: Cambria;
  font-size: 16.5px;
}

td > p.header{
  font-weight: bold;
  font-size: 1.5em;
}

#recent tr p:nth-child(2) {
    font-size: 0.75em;
}

#recent tr p:nth-child(3) {
    float: right;
    position: relative;
    top: -50px;
    font-weight: bold;
    background-color: #4d4d4d;
    margin-bottom: -65px;
    color: #FFF;
    padding: 5px;
    border-radius: 30px;
    font-size: 0.75em;
}

#hoursOfGoal{
	font-size: 0.6em;
	position: relative;
	bottom: -20px;
    color: #fff;
    font-weight: 700;
    font-family: sanssaFont;
}
